name: Publish core-sdk package to NPM registry
on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write  # enable GitHub OIDC token issuance for this job
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.0
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "22.20.0"
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
        working-directory: packages/core
      - name: Run Tests
        run: pnpm run test
        working-directory: packages/core
      - name: Compile sources and Publish to NPM
        run: NODE_AUTH_TOKEN="" pnpm run release
        working-directory: packages/core
